{% extends 'main.html' %}

{% load static %}
{% block content %}

{% if page == 'login' %}
<br><br>
  <div class="form-box" >
    <h2>Login</h2>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
  <!--   This 'action' attribute specifies the URL to which the form data will be sent when the form is submitted -->
    <form method="post" action="{% url 'login' %}" >
      {% csrf_token %}
  <!--    This renders the label for the form field and input field for the 'username' field-->
      <div class="form-field">
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-field">
        {{ form.password.label_tag }} {{ form.password }}
      </div>
      <input type="hidden" name="profile_id" value="{{ profile_id }}">
      <input type="submit" value="Login">
      <p></p>
      <h6>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></h6>
    </form>

  </div>
{% elif page == 'edit' %}
<br><br>
  <div class="form-box">
    <h2>Edit Profile</h2>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
  <!--   This 'action' attribute specifies the URL to which the form data will be sent when the form is submitted -->
    <form method="post" action="{% url 'edit-profile' %}" enctype="multipart/form-data">
      {% csrf_token %}
  <!--    This renders the label for the form field and input field for the 'username' field-->
      <div class="form-field">
        {{ form.profile_pic.label_tag }} {{ form.profile_pic }}
      </div>
      <div class="form-field">
        {{ form.bio.label_tag }} {{ form.bio }}
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
{% elif page == 'create' %}
<br><br>
  <div class="form-box">
    <h2>Create Post</h2>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
  <!--   This 'action' attribute specifies the URL to which the form data will be sent when the form is submitted -->
    <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
      {% csrf_token %}
  <!--    This renders the label for the form field and input field for the 'username' field-->
      <div class="form-field">
        {{ form.media.label_tag }} {{ form.media }}
      </div>
      <div class="form-field">
        {{ form.caption.label_tag }} {{ form.caption }}
      </div>
      <input type="submit" value="Post">
    </form>
  </div>
{% elif page == 'update' %}
<br><br>
  <div class="form-box">
    <h2>Edit Post</h2>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
  <!--   This 'action' attribute specifies the URL to which the form data will be sent when the form is submitted -->
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
  <!--    This renders the label for the form field and input field for the 'username' field-->
      <div class="form-field">
        {{ form.media.label_tag }} {{ form.media }}
      </div>
      <div class="form-field">
        {{ form.caption.label_tag }} {{ form.caption }}
      </div>
      <input type="submit" value="Update">
    </form>
  </div>
{% else %}
<br><br>
  <div class="form-box">
    <h2>Register</h2>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
  <!--   This 'action' attribute specifies the URL to which the form data will be sent when the form is submitted -->
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
  <!--    This renders the label for the form field and input field for the 'username' field-->
      <div class="form-field">
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-field">
        {{ form.email.label_tag }} {{ form.email }}
      </div>
      <div class="form-field">
        {{ form.password1.label_tag }} {{ form.password1 }}
      </div>
      <div class="form-field">
        {{ form.password2.label_tag }} {{ form.password2 }}
      </div>
      <input type="submit" value="Register">
    </form>
  </div>
{% endif %}

{% endblock %}

